target/

# IDE
.idea/
*.iml
.vscode/

# Maven wrapper binaries
.mvn/wrapper/maven-wrapper.jar

# Compiled output
*.class
*.jar
*.war
*.ear

# Logs
*.log

# OS
.DS_Store
**/.DS_Store

# Environment
.env

# Merge artifacts
*.orig

# Local AWS credentials
creds.sh

# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
*.tfvars
crash.log
crash.*.log
override.tf
override.tf.json

# Terragrunt
.terragrunt-cache/
